*.psd
*.swf
*.mov
*.idea
*.php
3d
egret
face
game
html
laya
laya2.0
python
rem
three
vconsole
wamplangues
wampthemes
web
webgl
wx
add_vhost.php
index.php
test_sockets.php
testmysql.php
node_modules
dist
webpack